<h3 class="title">Edit language</h3>
<% if @programmer.errors.any? %>
  <%= render 'alerts' %>
<% end %>
<%= form_for :language, url: admin_language_path(@language) , method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control"  %>
  </div>
  <div class="form-check check-margin_bottom">
    <%= f.check_box :active, :class => "form-check-input" %>
    <%= f.label :active, "Active", :class => "form-check-label"%>
  </div>
  <div>
    <%= f.submit "Edit language", :class => 'btn btn-primary' %>
  </div>
<% end %>
