  <h3 class="title">Create language</h3>

  <% if @language.errors.any? %>
    <%= render 'alerts' %>
  <% end %>

  <%= form_for :language, url: admin_languages_path do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <div class="form-check check-margin_bottom">
      <%= f.check_box :active, :class => "form-check-input" %>
      <%= f.label :active, "Active", :class => "form-check-label"%>
    </div>
    <div>
      <%= f.submit "Create language", :class => 'btn btn-primary' %>
    </div>
  <% end %>
