<h3 class="title">Edit programmer</h3>
<% if @programmer.errors.any? %>
  <%= render 'alerts' %>
<% end %>
<%= form_for :programmer, url: admin_programmer_path(@programmer), method: :patch , html: { multipart: true }  do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birthday %>
    <%= f.date_field :date_of_birthday, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_numbers %>
    <%= f.telephone_field :phone_numbers, :class => "form-control", multiple: true, :value => @programmer.phone_numbers[0] %>
    <%= f.telephone_field :phone_numbers, :class => "form-control phone-retreat", multiple: true, :value => @programmer.phone_numbers[1] %>
    <%= f.telephone_field :phone_numbers, :class => "form-control", multiple: true, :value => @programmer.phone_numbers[2] %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= image_tag @programmer.avatar.url, :class => "image-edit d-block"%>
    <%= f.file_field :avatar, :class => "form-control-file" %>
  </div>
  <p>Lenguages</p>
  <% @languages.each do |language| %>
    <div class="form-check check-margin_bottom">
      <%= f.check_box :languages, {:multiple => true, :class => "form-check-input", :disabled => !language.active, :checked=> @programmerLanguages.include?(language.id) }, language.id, nil %>
      <%= f.label :languages, "#{language.name}", :class=>"form-check-label" %>
    </div>
  <% end %>
  <div>
    <%= f.submit "Edit programmer", :class => 'btn btn-primary' %>
  </div>
<% end %>
