  <h3 class="title">Create programmer</h3>
  <% if @programmer.errors.any? %>
    <%= render 'alerts' %>
   <% end %>
    <%= form_for :programmer, html: { multipart: true }, url: admin_programmers_path  do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birthday %>
        <%= f.date_field :date_of_birthday, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone_numbers %>
        <%= f.telephone_field :phone_numbers, :class => "form-control", multiple: true %>
        <%= f.telephone_field :phone_numbers, :class => "form-control phone-retreat", multiple: true %>
        <%= f.telephone_field :phone_numbers, :class => "form-control", multiple: true %>
      </div>
      <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, :class => "form-control-file" %>
      </div>
      <% @languages.each do |language| %>
        <div class="form-check check-margin_bottom">
          <%= f.check_box :languages, {:multiple => true, :class => "form-check-input", :disabled => !language.active}, language.id, nil %>
          <%= f.label :languages, "#{language.name}", :class=>"form-check-label" %>
        </div>
      <% end %>
      <%= f.submit "Create programmer", :class => 'btn btn-primary' %>
    <% end %>
