<h3 class="title">All programmers</h3>
<table id="table_programmers" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Date of birthday</th>
      <th>Phone numbers</th>
      <th>Languages</th>
      <th>Avatar</th>
      <th>Details</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Date of birthday</th>
      <th>Phone numbers</th>
      <th>Languages</th>
      <th>Avatar</th>
      <th>Details</th>
    </tr>
  </tfoot>
</table>
