<h3 class="title">Pogramer</h3>
<p>First name: <span class="font-weight-bold"> <%= @programmer.last_name %> </span></p>
<p>Last name: <span class="font-weight-bold">  <%= @programmer.first_name %> </span></p>
<p>Email: <span class="font-weight-bold">  <%= @programmer.email %> </span></p>
<p>Date of birthday: <span class="font-weight-bold">  <%= @programmer.date_of_birthday.to_s.gsub("-", ".") %> </span></p>
<p>Phone numbers: <span class="font-weight-bold">  <%= @programmer.phone_numbers.delete_if(&:blank?).join(", ") %> </span></p>
<p>Languages: <span class="font-weight-bold">  <%= @languages %> </span></p>
<p>Avatar:
  <%= image_tag @programmer.avatar.url, :class => "image-show d-block"%>
</p>
<% if current_user &&  current_user.admin?%>
  <div class="btn-group mr-2">
    <%= link_to 'Edit', edit_admin_programmer_path(@programmer), :class => "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to 'Delete', admin_programmer_path(@programmer), :class => "btn btn-danger", method: :delete, data: {confirm: "Do you really want to delete this programmer?"} %>
  </div>
<% end %>
