<%#= javascript_include_tag 'dataTables', 'data-turbolinks-track' => true %>
<h3 class="title">All languages</h3>
<table id="table_languages" class="table table-striped table-bordered display" style="width:100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Active</th>
      <th>Details</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Active</th>
      <th>Details</th>
    </tr>
  </tfoot>
</table>
