<h3 class="title">Pogramer</h3>
<p>Name: <span class="font-weight-bold"> <%= @language.name %> </span></p>
<p>Slug: <span class="font-weight-bold">  <%= @language.slug %> </span></p>
<p>Active: <span class="font-weight-bold">  <%= @language.active %> </span></p>
<% if current_user &&  current_user.admin? %>
  <div class="btn-group mr-2">
    <%= link_to 'Edit', edit_admin_language_path(@language), :class => "btn btn-success" %>
  </div>
  <div class="btn-group mr-2">
    <%= link_to 'Delete', admin_language_path(@language), :class => "btn btn-danger", method: :delete, data: {confirm: "Do you really want to delete this language?"} %>
  </div>
<% end %>
