/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "dataTables/datatables.min.css";

header {
    padding-top: 10px;

    nav {
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        margin: 10px 0px 20px 0px;
    }
}

// hr {
//     border-top: 1px solid $primary;
//     margin-top: 5px;
//     margin-bottom: 5px;
// }

footer {
    border-top: 1px solid $primary;
    margin-top: 60px;
    padding-top: 10px;
}

.check-margin_bottom {
    margin-bottom: 10px;
}

.button-retreat {
    height: 10px;
}

.title {
    margin-bottom: 20px;
}

.phone-retreat {
    margin: 20px 0;
}

.wrapper {
    min-height: calc(100vh - 112px);
}

.sign,
.logo {
    margin: auto;
}

.image-show {
    width: 500px;
}

.image-edit {
    width: 200px;
    margin-bottom: 20px;
}

.delete-margin {
    margin: 0;
}