<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body >
    <div class = "container">
      <div class="wrapper">
        <header>
          <div class = "row">
            <h1 class=" col item "><u><%= link_to 'Logo', home_path, :class => "text-secondary font-weight-bold" %></u></h1>
            <div  class="justify-content-end sign">
              <div class="btn-group float-right col item"  role="group">
                <% if current_user %>
                  <div class="btn-group mr-2">
                    <%= link_to 'Sing out', destroy_user_session_path, :class => "btn btn-outline-primary", method: :delete %>
                  </div>
                <% else %>
                  <div class="btn-group mr-2">
                    <%= link_to 'Sing up', new_user_registration_path, :class => "btn btn-outline-primary" %>
                  </div>
                  <div class="btn-group mr-2">
                    <%= link_to 'Sing in', user_session_path, :class => "btn btn-outline-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li <% if params[:controller] == 'pages' && params[:action] == 'home' %>class="active nav-item"<%else %>class="nav-item"<% end %>>
                  <%= link_to "Home", home_path, :class => "nav-link" %>
                </li>
                <% if current_user && current_user.admin? %>
                  <li <% if params[:controller] == 'programmers' && params[:action] == 'new' %>class="active nav-item"<%else %>class="nav-item"<% end %>>
                    <%= link_to "Create programmer", new_admin_programmer_path, :class => "nav-link" %>
                  </li>
                <% end %>
                <li <% if params[:controller] == 'programmers' && params[:action] == 'index' %>class="active nav-item"<%else %>class="nav-item"<% end %>>
                  <%= link_to "Show programmer", programmers_path, :class => "nav-link"%>
                </li>
                <% if current_user && current_user.admin? %>
                  <li <% if params[:controller] == 'languages' && params[:action] == 'new' %>class="active nav-item"<%else %>class="nav-item"<% end %>>
                    <%= link_to "Create language", new_admin_language_path,  :class => "nav-link" %>
                  </li>
                <% end %>
                <li <% if params[:controller] == 'languages' && params[:action] == 'index' %>class="active nav-item"<%else %>class="nav-item"<% end %>>
                  <%= link_to "Show language", languages_path, :class => "nav-link"%>
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <main class="text-secondary">
          <%= render 'layouts/alerts' %>
          <%= yield %>
        </main>
      </div>
      <footer >
        <p class="text-center footer-year">2019</p>
      </footer>
    </div>
  </body>
</html>
